.margin-top{
	margin top:20px;
}

.feature-img{
	max-height:200px;

}
.footer-bottom{
	padding: 20px;
	margin-top: 20px;
	background: green;
	
}

.margin-bottom{
	margin-bottom: 50px;
}


.product-item{
	background: #dcf4fc;
}

.child-rows{
	padding-left: 20px;
	border-left: 1px solid #dfdfdf;
	background: #fff;
}

.child-rows a.list-group-item{
	border-left: 0px!important;
}